@charset "UTF-8";
.card:hover {
  background-color: rgba(255, 223, 186, 0.3); /* Đổi màu nền khi hover */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card:hover .card-header {
  background-color: #ffc107; /* Đổi màu header khi hover */
}

.card:hover {
  transform: translateY(-10px); /* Di chuyển lên khi hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng thêm */
}


.marquee {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
